<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <title>Feedback Application</title>

  <style>
    h6
    {
      margin:0;
    }
  </style>
</head>
<body style="font-family: 'Open Sans', sans-serif; height: 100vh;">
<nav style="background-color: #26a69a; height: 54px; line-height:54px;">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center" style="font-size: 1.5rem;">Feedback Application</a>
  </div>
</nav>

<div class="valign-wrapper" style="height: 70vh;">
    <h5 style="width: 100vw;" class="flow-text center-align ">Your response has been saved.</h5>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>

    $(document).ready(function() {
        $('select').material_select();
    });

</script>
</body>
</html>